    html {
        font-family: 'Montserrat', sans-serif;
        margin-top: 75px;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 75px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    #logo-short {
        padding: 40px;
    }
    
    nav {
        padding: 40px;
    }
    
    a {
        text-decoration: none;
        padding: 10px;
        color: black;
        font-size: 16px;
    }
    
    #banner {
        background-image: url(/resources/img/birch-background-2.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    h2 {
        font-family: 'Bebas Neue', cursive;
    }